root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

# go install mvdan.cc/sh/v3/cmd/shfmt@latest
[[shell]]
switch_case_indent = true
indent_size = 4
indent_style = space
#shell_variant = posix
space_redirects = true

# this is a 'fall-back' for older versions of shfmt that do not support [[bash]], e.g. 3.7.0 (that comes with f43)
[{.bash*,*.sh,*.bash}]
switch_case_indent = true
indent_size = 4
indent_style = space
#shell_variant = posix
space_redirects = true

# The indent size used in the `package.json` file cannot be changed https://github.com/npm/npm/pull/3180#issuecomment-16336516
[{*.yml,*.yaml,package.json}]
indent_style = space
indent_size = 2
